.index__container
{
    width: 100%;
    display: grid;
    grid-template-columns: 1.7fr 1fr;  
}
.index__content
{
   /* padding: 3% ; */
   border-right: 1px solid var(--border__color);
}
.index__feeds
{
    right: 0%;
    width: 100%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 30px;
}